# Configurações do Servidor
PORT=3001
JWT_SECRET=sua_chave_secreta_jwt_aqui_mude_em_producao

# Configurações do Banco de Dados MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=vitrine

# Credenciais do Administrador Padrão (Criado automaticamente se a tabela de usuários estiver vazia)
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123
